<section data-ng-controller="HomeController as store">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
	</div>
	<section ng-repeat="product in store.products">
		<h3>
			{{product.name}}
			<em class="pull-right">{{product.price | currency}}</em>
		</h3>
		<section class="tab" ng-controller="TabController as tab">
			<ul class="nav nav-pills">
				<li ng-class="{ active:tab.isSet(1) }"><a href ng-click="tab.setTab(1)">Description</a></li>
				<li ng-class="{ active:tab.isSet(2) }"><a href ng-click="tab.setTab(2)">Specs</a></li>
				<li ng-class="{ active:tab.isSet(3) }"><a href ng-click="tab.setTab(3)">Reviews</a></li>
			</ul>
			<product-description ng-show="tab.isSet(1)">
			</product-description>
			<div ng-show="tab.isSet(2)">
				<h4>Specs</h4>
				<blockquote>Shine: {{product.shine}}</blockquote>
			</div>
			<div ng-show="tab.isSet(3)">
				<ul>
					<h4>Reviews</h4>
					<li ng-repeat="review in product.reviews">
						<blockquote>
							<strong>{{review.stars}} Stars</strong>
							{{ review.body }}
							<cite class="clearfix">—{{ review.author }}</cite>
						</blockquote>
					</li>
				</ul>
				<form name="reviewForm" ng-submit="reviewCtrl.addReview(product)" ng-controller="ReviewController as reviewCtrl">
					<!--  Live Preview -->
					<blockquote>
						<strong>{{reviewCtrl.review.stars}} Stars</strong>
						{{reviewCtrl.review.body}}
						<cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
					</blockquote>

					<!--  Review Form -->
					<h4>Submit a Review</h4>
					<fieldset class="form-group">
						<select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
							<option value="">Rate the Product</option>
						</select>
					</fieldset>
					<fieldset class="form-group">
						<textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
					</fieldset>
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
					</fieldset>
				</form>
			</div>
		</section>
	</section>
</section>