<section data-ng-controller="ToolsController as tools">
	<accordion close-others=false class="links">
    	<accordion-group is-open="status.open" ng-repeat="tool in toolbox">
	    	<accordion-heading>
	    		{{tool.category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
	    	</accordion-heading>
	      <section ng-repeat="link in tool.links">
				<a ng-href="{{ link.url }}">{{ link.name }}</a>
				– {{ link.description }}
			</section>
	   </accordion-group>
  	</accordion>
</section>