<section ng-controller="TeamBirthdayController as teamBirthdays" class="border-bottom">
	<div>
		<div class="responsive-container">
			<div class="dummy"></div>
			<div class="content-container">
				<span class="event-panel">
<!-- 					<ng-pluralize count="{{birthdays.length}}" when="{
			                     'one': '1 birthday today!',
			                     'other': '{} birthdays today!'}">
					</ng-pluralize> -->
					{{birthdays.length}} birthday(s) today!
				</span>
				<carousel interval="myInterval" class="carousel">
				   <slide ng-repeat="birthday in birthdays">
						<img ng-src="{{birthday.image}}">
				   	<span><a href="#">{{birthday.name}}'s <br>birthday!</a></span>
				   </slide>
				</carousel>
			 </div>
		</div>
	</div>
</section>