<section ng-controller="TeamAnniversaryController as teamAnniversaries" class="border-bottom">
	<div>
		<div class="responsive-container">
			<div class="dummy"></div>
			<div class="content-container">
				<span class="event-panel">
<!-- 					<ng-pluralize count="{{anniversaries.length}}" when="{
				                     'one': '1 anniversary today!',
				                     'other': '{} anniversaries today!'}">
					</ng-pluralize> -->
					{{anniversaries.length}} anniversaries today! 
				</span>

				<carousel interval="myInterval" class="carousel">
				   <slide ng-repeat="anniversary in anniversaries">
					   <img ng-src="{{anniversary.image}}">
				      <span><a href="#">{{anniversary.name}}'s<br>{{anniversary.numAnniversary}} year!</a></span>
				   </slide>
				</carousel>
			</div>
		</div>
	</div>
</section>
