section.border-bottom {
	border-bottom: 1px solid #ddd;
}

div.div-table {
	display: table;
	border-spacing: 5px;
	border-collapse: separate;
	width: 100%;
}

div.div-table-row {
	display: table-row;
	clear: both;
}

div.div-table-cell {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}

div.div-table-cell img {
	width: 85px;
}

div.event-panel-cont {
	display: inline-block;
	width: 20%;
}

span.event-panel {
	width: 75px;
}

.carousel {
	display: inline-block !important;
	width: 68%;
	vertical-align: middle;
}

.carousel-control.left, .carousel-control.right {
	background: none;
}

.carousel-control {
	color: black;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
	margin-top: -10px;
	font-size: 20px;
}

.carousel-indicators {
	display: none;
}

.carousel-caption {
	margin-right: 35px !important;
	position: static;
	text-shadow: none;
	padding-bottom: 0;
}

.carousel-caption p {
	font-size: 0.9em;
	margin: 10px 0;
}

.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 35%; /* forces 1:1 aspect ratio */
}

.content-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
}

.content-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.content-container img, .content-container span {
    vertical-align: middle;
    display: inline-block;
}

.content-container img {
	width: 40%;
	max-width: 200px;
	display: inline-block !important;
}

carousel .active {
	display: inline-block !important;
}