accordion .links > .panel-group > .panel-default > .panel-heading {
	background: none;
}

.links > .panel-group > .panel {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}