* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a { cursor: pointer; }

h1.title {
	margin-bottom: 30px;
}

.team-widget .panel-body {
	padding-top: 0;
}