<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header> 
<section data-ng-controller="ControlpanelController as panel">
	<h1 class="title">
		Control Panel
		<small>Welcome, {{myName}} (<a href="#">Logout</a>)</small>
	</h1>
	<div class="row">
		<div data-ng-controller="TeamController as team">
			<widget class="team-widget">
				<team></team>
			</widget>
		</div>
		<div data-ng-controller="ToolsController as tools">
			<widget>
				<tools></tools>
			</widget>
		</div>
		<div data-ng-controller="NotificationsController as notifications">
			<widget>
				<notifications></notifications>
			</widget>
		</div>
	</div>
</section>