<section data-ng-controller="ControlpanelController as panel">
	<h1 class="title">
		Control Panel
		<small><a href="#">Login</a></small>
	</h1>
	<div class="row">
		<div data-ng-controller="TeamController as team">
			<widget>
				<team></team>
			</widget>
		</div>
		<div data-ng-controller="ToolsController as tools">
			<widget>
				<tools></tools>
			</widget>
		</div>
		<div data-ng-controller="NotificationsController as notifications">
			<widget>
				<notifications></notifications>
			</widget>
		</div>
	</div>
</section>