
<section data-ng-controller="NotificationsController as notifications">
	<p ng-show="!notificationbox.length"><i>There are no currently notifications to display</i></p>

	<ul class="list-group" style="overflow: scroll; max-height:400px;">
	<li class="list-group-item" data-ng-repeat="notification in notificationbox | orderBy: 'endDate'">
			<div>
				<div class="row">
					<div class="col-sm-11"><a href="{{notification.description}}">{{notification.title}}</a></div>
					<a type="button" class="glyphicon glyphicon-remove" confirmed-click="dismissNotification(notification.Id)" tooltip="Remove this notification" tooltip-placement="left" ng-confirm-click="Are you sure you want to dismiss this notification?"></a>
				</div>
				<div class="row">
					<div class="col-sm-10"><small>due  {{notification.endDate | displayFilter}}</small></div>
				</div>
			</div>
		</li>
	</ul>

</section>

